<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <!-- {% comment %} 传入的数据为poem {% endcomment %} -->
  <form action ="{% url 'poem:svc_edit' poem.id %}" method ="post">
      <!-- django中防止csrf攻击的方式-->
      {% csrf_token %}
      <div>
          <input type="text" name="title" value="{{poem.title}}">

      </div>
      <div>
          <input type="text" name="content" value="{{poem.content}}">

      </div>
      <div>
          <input type="submit" value="修改诗歌">

      </div>


  </form>
</body>
</html>